In [1]:
import pandas as pd

In [2]:
df = pd.read_html(r"C:\Users\hp\Desktop\Path to Data Science\UpX\Chapter 2\assignment_regex\baby1998.html")

In [3]:
type(df)

list

In [4]:
df2 = df[2]
df2.head()

  Rank    Male name Female name
0    1      Michael       Emily
1    2        Jacob      Hannah
2    3      Matthew    Samantha
3    4       Joshua      Ashley
4    5  Christopher       Sarah

In [5]:
df2.columns

Index(['Rank', 'Male name', 'Female name'], dtype='object')

In [6]:
df3 = df2[['Rank','Male name','Female name']]
print(df3.head())

  Rank    Male name Female name
0    1      Michael       Emily
1    2        Jacob      Hannah
2    3      Matthew    Samantha
3    4       Joshua      Ashley
4    5  Christopher       Sarah

In [7]:
dic = {}
dic['names'] = df3[['Male name','Female name']] 
print(dic['names'].head())

     Male name Female name
0      Michael       Emily
1        Jacob      Hannah
2      Matthew    Samantha
3       Joshua      Ashley
4  Christopher       Sarah

In [8]:
dic2 = {'Key1':'Male name','Key2':'Female name','value':'Rank'}
print(dic2.keys())
print(dic2.values())

dict_keys(['Key1', 'Key2', 'value'])
dict_values(['Male name', 'Female name', 'Rank'])